@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"

//******************** font weights */
$fontweight-light: 200
$fontweight-normal: 400
$fontweight-bold: 900

//******************** font sizes */
$fontsize-desktop: 1.6rem
$fontsize-desktop-bigbtn: 3rem

//******************** font line heights */
$lineheight-default: 1.5

//******************** font families */
$fontfamily-default: 'Nunito', 'Helvetica Neue', 'Helvetica', Arial, sans-serif

//******************** colour theory */
$white: #fff
$primary-light: #fcfcfc
$shadow: 0 0 10px #474747
/********************* default styling */
*
  box-sizing: border-box
  margin: 0
  padding: 0
html
  font-size: 62.5%
body
  height: 100vh
  width: 100vw
  overflow: hidden
  font-weight: $fontweight-normal
  font-size: $fontsize-desktop
  line-height: $lineheight-default
  font-family: $fontfamily-default
  color: #999
  background-color: $primary-light
  background-size: cover
/********************* random colour btn */
#color-btn
  padding: 10px 20px
  cursor: pointer
  font-size: $fontsize-desktop-bigbtn
  font-family: $fontfamily-default
  text-transform: uppercase
  letter-spacing: 5px
  outline: none
  color: #CECFD1
  background: $white
  border: none
  border-radius: 10px
#color-btn:hover
  opacity: .8